:root {
  /* Color Variables */
  --color-grey-dk: rgb(49, 46, 58);
  --color-grey-lt: rgb(187, 186, 190);
  --color-white: #fff;
  --color-primary: #7059f3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "proxima-nova", sans-serif;
  color: var(--color-grey-dk);
  font-size: 62.5%;
  width: 100%;
}

body {
  font-size: 1.8rem;
  line-height: 1.4;
  position: relative;
}

.heading-1 {
  font-size: 2.8rem;
}

.heading-2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.4rem;
}

.nav {
  height: 8rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  position: fixed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  z-index: 1000;
}

.nav-logo {
  width: 31.5rem;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.nav-links {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  transform: translateX(-1.5rem);
}

.nav-links li {
  padding-left: 3rem;
}

.nav-links a,
.nav-links a:link,
.nav-links a:visited {
  text-decoration: none;
  color: var(--color-grey-dk);
  transition: all 0.2s;
}

.nav-links a:hover,
.nav-links a:active {
  color: var(--color-primary);
}

.hero {
  height: 95vh;
  background: url("img/Night_Pier_color.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.hero-logo {
  max-width: 50rem;
  margin-bottom: 5rem;
}

.container {
  display: grid;
  grid-template-columns:
    [full-start]minmax(3rem, max-content) [center-start]repeat(3, 1fr)
    [center-end]minmax(3rem, max-content) [full-end];
}

.about,
.work,
.contact {
  grid-column: center-start / center-end;
  margin-top: 6rem;
  padding-bottom: 6rem;
  border-bottom: 1px solid var(--color-grey-lt);
}

.work-container {
  display: grid;
  grid-gap: 0.7rem;
}

.work-project {
  height: 30rem;
  overflow: hidden;
  object-fit: cover;
  transition: all 0.2s;
}

.work-project:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.work-project img {
  width: 100%;
  margin: auto 0;
}

.contact-logo {
  width: 24rem;
  margin: 3rem auto -4rem auto;
}

.contact-logo img {
  width: 100%;
}

.footer {
  background-color: var(--color-grey-dk);
  color: var(--color-white);
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Helper Classes */
.txt-wht {
  color: var(--color-white);
}

/* MEDIA QUERIES */

/* Desktop */
@media screen and (min-width: 1080px) {
  .nav {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .nav-logo {
    width: 35rem;
    margin-top: 0.4rem;
    margin-bottom: 0;
  }

  .nav-links {
    transform: translateX(0);
  }

  .container {
    grid-template-columns:
      [full-start]minmax(6rem, 1fr) [center-start]repeat(4, 1fr)
      [center-end]minmax(6rem, 1fr) [full-end];
  }

  .work-container {
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  }

  .work-project {
    height: 40rem;
  }

  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-logo {
    padding: 0;
    margin: -10rem 0 -6rem 0;
  }
}
