:root {
  /* Color Variables */
  --color-grey-dk: rgb(49, 46, 58);
  --color-grey-lt: rgb(187, 186, 190);
  --color-white: #fff;
  --color-primary: #7059f3;
  --color-secondary: rgb(100, 199, 169);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "proxima-nova", sans-serif;
  color: var(--color-grey-dk);
  font-size: 62.5%;
  width: 100%;
}

body {
  font-size: 1.8rem;
  line-height: 1.4;
  position: relative;
}

.heading-1 {
  font-size: 2.8rem;
}

.heading-2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.4rem;
}

.nav {
  height: 8rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  position: fixed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  z-index: 1000;
}

.nav-logo {
  width: 31rem;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.nav-links {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  transform: translateX(-1.5rem);
}

.nav-links li {
  padding-left: 3rem;
}

.nav-links a,
.nav-links a:link,
.nav-links a:visited {
  text-decoration: none;
  color: var(--color-grey-dk);
  transition: all 0.2s;
}

.nav-links a:hover,
.nav-links a:active {
  color: var(--color-primary);
}

.hero {
  height: 95vh;
  background: url("img/Night_Pier_color.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.hero-logo {
  max-width: 50rem;
  margin-bottom: 5rem;
}

.container {
  display: grid;
  grid-template-columns:
    [full-start]minmax(3rem, max-content) [center-start]repeat(3, 1fr)
    [center-end]minmax(3rem, max-content) [full-end];

  margin: 6rem auto 0 auto;
}

.about,
.work {
  border-bottom: 1px solid var(--color-grey-lt);
}

.about,
.work,
.contact {
  grid-column: center-start / center-end;
  margin-top: 6rem;
  padding-bottom: 6rem;
}

.work-container {
  display: grid;
  grid-gap: 0.7rem;
}

.work-project {
  height: 30rem;
  overflow: hidden;
  object-fit: cover;
  transition: all 0.2s;
}

.work-project:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.work-project img {
  width: 100%;
  margin: auto 0;
}

.other-work-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.7rem;
}

.other-work-project {
  overflow: hidden;
  object-fit: cover;
  transition: all 0.2s;
}

.other-work-project:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.other-work-project img {
  width: 100%;
  margin: auto 0;
}

.project-hero {
  height: 50vh;
  background: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-secondary)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 3rem 0 3rem;
  color: var(--color-white);
}

.project-gallery {
  grid-column: center-start / center-end;
  display: grid;
  grid-gap: 0.7rem;
}

.project {
  overflow: hidden;
  object-fit: cover;
}

/* .project img {
  width: 100%;
} */

.black-book-p1 {
  background: url(../img/black-book_1.jpg);
}

.black-book-p2 {
  background: url(../img/black-book_2.jpg);
}

.black-book-p3 {
  background: url(../img/black-book_3.jpg);
}

.black-book-p4 {
  background: url(../img/black-book_4.jpg);
}

.black-book-p5 {
  background: url(../img/black-book_5.jpg);
  height: 60vw;
}

.black-book-p1,
.black-book-p2,
.black-book-p3,
.black-book-p4 {
  height: 60vw;
}

.p1,
.p2,
.p3,
.p4,
.p5 {
  display: inline-block;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.pg-5 {
  grid-template-areas:
    "img1"
    "img2"
    "img3"
    "img4"
    "img5";
}

.p1 {
  grid-area: img1;
}

.p2 {
  grid-area: img2;
}

.p3 {
  grid-area: img3;
}

.p4 {
  grid-area: img4;
}

.p5 {
  grid-area: img5;
}

.other-work-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.7rem;
}

.other-work-project {
  overflow: hidden;
  object-fit: cover;
  transition: all 0.2s;
}

.other-work-project:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.other-work-project img {
  width: 100%;
  margin: auto 0;
}

/* .other-projects {
  grid-column: center-start / center-end;
  display: grid;
  grid-gap: 0.7rem;
}

.other-projects img {
  width: 100%;
} */

.contact-logo {
  width: 24rem;
  margin: 3rem auto -4rem auto;
}

.contact-logo img {
  width: 100%;
}

.footer {
  background-color: var(--color-grey-dk);
  color: var(--color-white);
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Helper Classes */
.txt-wht {
  color: var(--color-white);
}

/* MEDIA QUERIES */

/* Desktop */
@media screen and (min-width: 1080px) {
  .nav {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .nav-logo {
    width: 35rem;
    margin-top: 0.4rem;
    margin-bottom: 0;
  }

  .nav-links {
    transform: translateX(0);
  }

  .container {
    grid-template-columns:
      [full-start]minmax(6rem, 1fr) [center-start]repeat(4, 1fr)
      [center-end]minmax(6rem, 1fr) [full-end];
  }

  .work-container {
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  }

  .work-project {
    height: 40rem;
  }

  .pg-5 {
    grid-template-areas:
      "img1 img2"
      "img3 img4"
      "img5 img5";
  }
  .black-book-p5 {
    height: 35vw;
  }
  .black-book-p1,
  .black-book-p2,
  .black-book-p3,
  .black-book-p4 {
    height: 20vw;
  }

  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-logo {
    padding: 0;
    margin: -10rem auto -6rem auto;
  }
}
