:root {
  /* Color Variables */
  --color-grey-dk: #252930;
  --color-grey-lt: #eee;
  --color-white: #fff;
  --color-primary-lt: #595cf32c;
  --color-primary: #595cf3;
  --color-primary-dk: #333599;
  --color-secondary: #64c7a9;
  --color-g1: rgba(89, 92, 243, 0.8);
  --color-g2: rgba(100, 199, 169, 0.8);
}

a.anchor {
  display: block;
  position: relative;
  top: -10rem;
  visibility: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "proxima-nova", sans-serif;
  color: var(--color-grey-dk);
  font-size: 62.5%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  line-height: 1.4;
  position: relative;
}

.heading-1 {
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 3rem;
  color: var(--color-white);
  line-height: 1;
}

.heading-2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.heading-3 {
  font-size: 2.4rem;
  font-weight: 100;
  color: var(--color-white);
  margin-bottom: 2rem;
}

.form .heading-3 {
  font-size: 3.8rem;
  color: var(--color-primary);
  margin-bottom: 0;
}

.heading-4 {
  font-size: 2.4rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.6rem;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.8rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
  transition: all 0.2s;
}

.btn:hover,
.btn:active {
  background-color: var(--color-primary-dk);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem);
}

.hero-btn {
  max-width: 35vw;
  margin-top: 2rem;
}

.cta {
  grid-column: center-start / center-end;
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta-text {
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 2rem;
}

.nav {
  height: 8rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  position: fixed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  z-index: 1000;
}

.nav-logo {
  width: 31rem;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.nav-links {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  transform: translateX(-1.5rem);
}

.nav-links li {
  padding-left: 3rem;
}

.nav-links a,
.nav-links a:link,
.nav-links a:visited {
  text-decoration: none;
  color: var(--color-grey-dk);
  transition: all 0.2s;
}

.nav-links a:hover,
.nav-links a:active {
  color: var(--color-primary);
}

.hero {
  min-height: 80vh;
  background-color: #dddddd;
  background-image: -webkit-linear-gradient(to right bottom, rgba(89, 92, 243, 0.8), rgba(100, 199, 169, 0.8)), url("img/Night_Pier_color_small.jpg");
  background-image: linear-gradient(to right bottom, rgba(89, 92, 243, 0.8), rgba(100, 199, 169, 0.8)), url("img/Night_Pier_color_small.jpg");
  background-size: cover;
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text {
  margin-bottom: 4rem;
}

.hero-p {
  font-size: 20px;
  font-weight: 100;
  line-height: 1.4;
}

.hero-content {
  max-width: 100%;
  padding: 12rem 3rem 8rem 3rem;
}

.hero-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.email-capture {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input {
  padding: 1.7rem;
  outline: none;
  border: 1px solid #888;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 1.6rem;
  flex: 1;
}

input::placeholder {
  color: #ccc;
}

input:focus {
  outline: none;
  border-width: 3px;
  border-color: #5352ed;
}

.container {
  display: grid;
  grid-template-columns:
    [full-start]minmax(3rem, max-content) [center-start]repeat(3, 1fr)
    [center-end]minmax(3rem, max-content) [full-end];
  margin: 6rem auto 0 auto;
}

.about,
.work,
.project-gallery,
.cta,
.video-section {
  border-bottom: 1px solid var(--color-grey-lt);
}

.work {
  margin-top: 6rem;
}

.about,
.work,
.project-gallery,
.video-section {
  grid-column: center-start / center-end;
  padding-bottom: 6rem;
}

.about-text p {
  font-size: 28px;
  font-weight: 100;
  margin-bottom: 4rem;
  margin-top: 2rem;
  width: 95%;
}

.work-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.work-container img,
.other-work-container img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  border-radius: 3px;
}

.work-container img:hover,
.other-work-container img:hover {
  filter: brightness(1.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  border: 1.4rem solid var(--color-primary);
}

.other-work-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.other-work-project {
  overflow: hidden;
  object-fit: cover;
  transition: all 0.2s;
}

.other-work-project:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.other-work-project img {
  width: 100%;
  margin: auto 0;
}

.project-hero {
  min-height: 50vh;
  background: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-secondary)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 13rem 3rem 4rem 3rem;
  color: var(--color-white);
}

.project-hero-dmt {
  max-height: 90vh;
}

.project-hero .heading-1 {
  font-size: 3.8rem;
}

.project-gallery {
  display: grid;
  grid-gap: 1rem;
}

.project {
  overflow: hidden;
  object-fit: cover;
  border-radius: 3px;
}

.project-img {
  width: 100%;
}

.black-book-p1 {
  background: url(../img/black-book_1.jpg);
}

.black-book-p2 {
  background: url(../img/black-book_2.jpg);
}

.black-book-p3 {
  background: url(../img/black-book_3.jpg);
}

.black-book-p4 {
  background: url(../img/black-book_4.jpg);
}

.black-book-p5 {
  background: url(../img/black-book_5.jpg);
}

.architexas-p1 {
  background: url(../img/architexas-1.jpg);
}

.architexas-p2 {
  background: url(../img/architexas-2.jpg);
}

.architexas-p3 {
  background: url(../img/architexas-3.jpg);
}

.architexas-p4 {
  background: url(../img/architexas-4.jpg);
}

.cobalt-p1 {
  background: url(../img/cobalt-1.jpg);
}

.cobalt-p2 {
  background: url(../img/cobalt-2.jpg);
}

.cobalt-p3 {
  background: url(../img/cobalt-3.jpg);
}

.cobalt-p4 {
  background: url(../img/cobalt-4.jpg);
}

.harbri-p1 {
  background: url(../img/harbri-1.jpg);
}

.harbri-p2 {
  background: url(../img/harbri-2.jpg);
}

.harbri-p3 {
  background: url(../img/harbri-5.jpg);
}

.harbri-p4 {
  background: url(../img/harbri-4.jpg);
}

.omniplan-app-p1 {
  background: url(../img/omniplan-app_5.jpg);
}

.omniplan-app-p2 {
  background: url(../img/omniplan-app_2.jpg);
}

.omniplan-app-p3 {
  background: url(../img/omniplan-app_3.jpg);
}

.omniplan-app-p4 {
  background: url(../img/omniplan-app_4.jpg);
}

.omniplan-app-p5 {
  background: url(../img/omniplan-app_1.jpg);
}

.recruiting-p1 {
  background: url(../img/Recruiting_1.jpg);
}

.recruiting-p2 {
  background: url(../img/Recruiting_2.jpg);
}

.recruiting-p3 {
  background: url(../img/Recruiting_3.jpg);
}

.recruiting-p4 {
  background: url(../img/Recruiting_4.jpg);
}

.recruiting-p5 {
  background: url(../img/Recruiting_5.jpg);
}

.visitmobile-p1 {
  background: url(../img/mobile-guide_1.jpg);
}

.visitmobile-p2 {
  background: url(../img/mobile-guide_2.jpg);
}

.visitmobile-p3 {
  background: url(../img/mobile-guide_3.jpg);
}

.visitmobile-p4 {
  background: url(../img/mobile-guide_4.jpg);
}

.visitmobile-p5 {
  background: url(../img/mobile-guide_5.jpg);
}

.pinehurst-p1 {
  background: url(../img/pinehurst-guide_1.jpg);
}

.pinehurst-p2 {
  background: url(../img/pinehurst-guide_2.jpg);
}

.pinehurst-p3 {
  background: url(../img/pinehurst-guide_3.jpg);
}

.pinehurst-p4 {
  background: url(../img/pinehurst-guide_4.jpg);
}

.pinehurst-p5 {
  background: url(../img/pinehurst-guide_5.jpg);
}

.pinehurst-p6 {
  background: url(../img/pinehurst-guide_6.jpg);
}

.illustration-p1 {
  background: url(../img/illustration_1.jpg);
}

.illustration-p2 {
  background: url(../img/illustration_2.jpg);
  background-position: top !important;
}

.illustration-p3 {
  background: url(../img/illustration_3.jpg);
  background-position: top;
}

.illustration-p4 {
  background: url(../img/illustration_4.jpg);
}

.illustration-p5 {
  background: url(../img/illustration_5.jpg);
  height: 60vw;
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6 {
  height: 60vw;
  display: inline-block;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.pg-3 {
  grid-template-columns: 1fr;
}

.pg-5,
.pg-6 {
  grid-template-areas:
    "img1"
    "img2"
    "img3"
    "img4"
    "img5"
    "img6";
}

.p1 {
  grid-area: img1;
}

.p2 {
  grid-area: img2;
}

.p3 {
  grid-area: img3;
}

.p4 {
  grid-area: img4;
}

.p5 {
  grid-area: img5;
}

.p6 {
  grid-area: img6;
}

.video {
  width: 100%;
  margin-top: -20rem;
  margin-bottom: -20rem;
}

.other-work-container {
  display: grid;
  grid-gap: 0.7rem;
}

.other-work-project {
  overflow: hidden;
  object-fit: cover;
  transition: all 0.2s;
}

.contact {
  grid-column: full-start / full-end;
  padding: 3rem 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-dk);
}

.hidden {
  display: none;
}

.form-container {
  width: 100%;
  display: flex;
  background-color: white;
  padding: 3.4rem;
  border-radius: 4px;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.form label {
  margin: 2rem 0 1rem 0;
}

.form input,
.form textarea {
  padding: 1rem;
  border: 1px solid #888;
  border-radius: 3px;
  font-family: sans-serif;
  font-size: 1.6rem;
  flex: 1;
}

.form textarea {
  min-height: 10rem;
}

input::placeholder {
  color: #ccc;
}

input:focus {
  outline: none !important;
  border-width: 3px;
  border-color: var(--color-primary);
}

textarea:focus {
  outline: none !important;
  border-width: 3px;
  border-color: var(--color-primary);
}

.btn {
  color: #fff;
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
  padding: 1.8rem 3.6rem;
  font-size: 1.6rem;

  transition: all 0.2s;
  outline: none;
}

.form-btn {
  margin-top: 2.6rem;
}

.btn:hover {
  background-color: var(--color-primary-dk);
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}
.contact-image {
  display: none;
}

/* .contact-logo {
  width: 24rem;
  margin: 3rem auto -4rem auto;
}

.contact-logo img {
  width: 100%;
} */

.footer {
  background-color: var(--color-grey-dk);
  color: var(--color-white);
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Helper Classes */
.txt-wht {
  color: var(--color-white);
}

/*/////////////////
///////////////////
///////////////////
///////////////////
///////////////////
///////////////////
///////////////////
///////////////////
///////////////////
///////////////////
///////////////////
///////////////////
///////////////////
///////////////////
///////////////////
///////////////////
/* MEDIA QUERIES */

/* Tablet */
@media screen and (min-width: 450px) {
  .nav {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .nav-logo {
    width: 35rem;
    margin-top: 0.4rem;
    margin-bottom: 0;
  }

  .nav-links {
    transform: translateX(0);
  }

  .cta {
    height: 20rem;
  }
  
  .hero {
    background-image: -webkit-linear-gradient(
      to right bottom,
      var(--color-g1),
      var(--color-g2)
    ) url("img/Night_Pier_color_md.jpg");
    background-image: linear-gradient(
      to right bottom,
      var(--color-g1),
      var(--color-g2)
    ), url("img/Night_Pier_color_md.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  .container {
    grid-template-columns:
      [full-start]minmax(6rem, 1fr) [center-start]repeat(10, 1fr)
      [center-end]minmax(6rem, 1fr) [full-end];
  }

  .about-text p {
    font-size: 32px;
    width: 100%;
  }

  .work-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .work-project {
    height: 30rem;
  }

  .other-work-container {
    grid-template-columns: repeat(6, 1fr);
  }

  .project-gallery {
    grid-template-columns: 1fr 1fr;
  }

  .pg-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .pg-5 {
    grid-template-areas:
      "img1 img2"
      "img3 img4"
      "img5 img5";
  }

  .pg-6 {
    grid-template-columns: unset;
    grid-template-areas:
      "img1 img1 img1 img2 img2 img2"
      "img3 img3 img4 img4 img5 img5"
      "img6 img6 img6 img6 img6 img6";
  }

  .p1,
  .p2,
  .p3,
  .p4 {
    height: 30vw;
  }

  .p5,
  .p6 {
    height: 40vw;
  }

  .pinehurst-p3,
  .pinehurst-p4,
  .pinehurst-p5 {
    height: 20vw;
  }

  .video {
    margin-top: -20rem;
    margin-bottom: -20rem;
  }
}

@media screen and (min-width: 600px) {
  .form-container {
    margin: 0 3rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  }
  .hero {
    min-height: 60vh;
  }

  .hero-content {
    padding: 16rem 6rem 10rem 6rem;
  }
  .project-hero .heading-1 {
    font-size: 6rem;
  }

  .video {
    margin-top: -10rem;
    margin-bottom: -10rem;
  }
}

@media screen and (min-width: 780px) {
  .hero-content {
    padding: 16rem 8rem 10rem 8rem;
  }
  .project-hero {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .pg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large Tablet / Notebook  */
@media screen and (min-width: 1025px) {
  .heading-1,
  .project-hero .heading-1 {
    font-size: 9rem;
    margin-bottom: 2rem;
  }

  .container,
  .hero,
  .project-hero {
    display: grid;
    grid-template-columns:
      [full-start]minmax(6rem, 1fr) [center-start]repeat(7, 1fr)
      [center-end]minmax(6rem, 1fr) [full-end];
  }

  .hero {
    height: 80vh;
  }
  .hero-cta,
  .hero-text {
    width: auto;
  }

  .hero-text {
    margin-bottom: 5rem;
  }

  .hero-content,
  .project-hero-content {
    grid-column: center-start / center-end;
    max-width: 55vw;
    padding: 16rem 0rem 10rem 0rem;
  }

  .project-hero {
    padding-left: 0;
    padding-right: 0;
  }

  .project-hero-content {
    padding-top: 10rem;
    max-width: 55vw;
  }

  .email-capture {
    flex-direction: row;
  }

  .hero-btn {
    margin-left: 2rem;
    margin-top: 0;
  }

  .hero-cta {
    max-width: 50vw;
  }

  .work-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .video {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero-content {
    /* max-width: 60vw; */
  }
  
  .hero {
    background-image: -webkit-linear-gradient(
      to right bottom,
      var(--color-g1),
      var(--color-g2)
    ), url("img/Night_Pier_color.jpg");
    background-image: linear-gradient(
      to right bottom,
      var(--color-g1),
      var(--color-g2)
    ), url("img/Night_Pier_color.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  .about-text p {
    font-size: 36px;
    width: 85%;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr repeat(10, 11.4rem) 1fr;
    margin-top: auto;
    margin-bottom: auto;
  }

  .form-container {
    grid-column-start: 3;
    width: 40rem;
    z-index: 100;
    /* max-height: 57rem; */
  }

  .contact-image {
    display: block;
    width: 90rem;
    grid-column-start: 5;
  }
  .video {
    height: 70rem;
  }
}

@media screen and (min-width: 1600px) {
  .video {
    height: 80rem;
  }
  .project-hero-content {
    max-width: 40vw;
  }
}
